/* Basic colors */
/* Color 1 : #EBEA84 */
/* Color 2 : #9BE6DF */

body {
    margin: 0;
    background-color: #EBEA84 ;
    display: flex;
    flex-direction: column;
}

h1{
    color: red;
    text-align: center;
    font-size: 3.5rem;
}

#profileImage{
    margin-right: 10px;
    float: left;
}

#profilePic{
    width: 200px;
    height: 200px;
    border: 5px solid rgb(249, 126, 167);
    border-radius: 50%;
    padding: 5px;
    
}

/* #profilePic:hover{
    width: 200px;
    height: 200px;
    border: 10px solid rgb(249, 126, 167);
    border-radius: 50%;
} */

.team{
    width: 200px;
    height: 200px;
}

#friends{
    border: solid 2px red;
    padding: 0 25%;
}

#meetthepack{
    display: block;
    margin: 20px auto;
    text-align: center;

}

footer{
    height: 50px;
    background-color: #9BE6DF ;
    margin: 0;
    padding: 20px;
    text-align: center;
}

table{
    border: 2px solid lavenderblush;
    border-collapse: collapse;
}

th, td{
    border: 1px solid lavenderblush;
    padding: 10px;
}

th{
    background-color: black;
    color: white;
    text-align: center;
}

td{
    font-size: 18px;
    text-align: center;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    body{
        flex-direction: column;
    }

    #profileImage{
        margin-right: 0;
        margin-bottom: 10px;
    }

    #profilePic{
        width: 30%;
        height: auto;
    }

    #friends{
        width: 100%;
        padding: 0;
    }

    #meetthepack{
        margin: 0 auto;
    }
}